@import "VarMix/*.scss";
@import "VarMix/**/*.scss";

body {
  font-family: Arial, sans-serif;
  color: white;
  user-select: none;
  a {
    &:hover {
      cursor: pointer;
    }
  }
  &.admin {
    background-color: black;
    height: 100vh;
    .bg {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      overflow: hidden;
      #background {
        max-height: 768px;
        max-width: 768px;
        width: 80%;
        height: 80%;
        opacity: .1;
        transform: scale(1);
        animation: breath 10s infinite ease;
        path {
          fill: white;
        }
      }
    }
    .admin {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 0 5%;
      @include respond-to(sm) {
        padding: 0 25%;
      }
      height: 100%;
      flex-direction: column;
      .tools {
        position: fixed;
        bottom: 1em;
        right: 1em;
        .return, .upload-btn {
          opacity: .5;
          padding-left: 10px;
          margin-left: 10px;
          border-left: $color-grey 1px solid;
        }
        .upload-btn {
          opacity: 1;
        }
        a {
          color: white;
          text-decoration: none;
          font-weight: bold;
        }
        .reset {
          color: red;
        }
      }
    }
  }
  .upload {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .add-popup {
      background-color: $color-yellow;
      padding: 10px 0;
      text-align: center;
      color: black;
      font-weight: bold;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      transform: translateY(-100%);
      animation: display 5s forwards;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 40px auto;
      label {
        position: relative;
        display: block;

        input {
          font: 18px Helvetica, Arial, sans-serif;
          box-sizing: border-box;
          display: block;
          border: none;
          padding: 20px;
          width: 300px;
          margin-bottom: 20px;
          outline: none;
          transition: all 0.2s ease-in-out;
          &::placeholder {
            transition: all 0.2s ease-in-out;
            color: #999;
            font: 18px Helvetica, Arial, sans-serif;
          }

          &:focus, &.populated {
            padding-top: 28px;
            padding-bottom: 12px;

            &::placeholder {
              color: transparent;
            }

            & + span {
              opacity: 1;
              top: 10px;
            }
          }
        }

        span {
          color: $color-grey;
          font: 13px Helvetica, Arial, sans-serif;
          position: absolute;
          top: 0;
          left: 20px;
          opacity: 0;
          transition: all 0.2s ease-in-out;
        }
      }

      #file-upload {
        position: absolute;
        left: -9999px;
      }

      label[for="file-upload"] {
        padding: 0.5em;
        display: inline-block;
        background: $color-yellow;
        cursor: pointer;
        transition: .2s;
        &:hover {
          background: lighten($color-yellow, 5%)
        }
      }
      .file {
        margin-bottom: 20px;
      }
      #filename {
        padding: 0.5em;
        float: left;
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        background: $color-darkgrey;
      }

      input[type="submit"] {
        transition: all 0.2s ease-in-out;
        font: 18px Helvetica, Arial, sans-serif;
        border: none;
        background: $color-darkgrey;
        color: #fff;
        padding: 16px 40px;
        &:hover {
          background: $color-grey;
          cursor: pointer;
        }
      }
    }
  }
  .bixs-list {
    width: 50vw;
    margin: 0 auto;
    .list {
      display: flex;
      flex-wrap: wrap;
      .bix-list {
        flex-basis: calc(25% - 20px);
        padding: 10px;
        margin: 10px;
        box-sizing: border-box;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: rgba(white, .5);
        .edit, .delete {
          height: 100%;
          position: absolute;
          background-color: rgba($color-grey, .5);
          right: 0;
          top: 0;
          transition: .33s;
          opacity: 0;
          width: 100%;
        }
        .delete {
          background-color: rgba($color-red, .8);
          right: calc(#{$delete-width} / 3 * -1);
          bottom: calc(#{$delete-width} / 3 * -1);
          width: 0;
          height: 0;
          top: unset;
          border-radius: 50%;
          left: unset;
          color: white;
          &:hover {
            background-color: rgba($color-red, 1);
          }
          i {
            position: relative;
            top: 25%;
            left: 25%;
          }
        }
        .edit {
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          text-transform: uppercase;
        }
        &:hover {
          .delete {
            opacity: .7;
            height: $delete-width;
            width: $delete-width;
          }
          .edit {
            opacity: 1;
          }
        }
        img {
          width: 100%;
          max-height: 100%;
        }
      }
    }
  }
  //  Big button
  .button-wrap {
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba($color-yellow, 0.65);
    border-top: 1px solid rgba($color-yellow, 0.65);
    border-bottom: 1px solid rgba($color-yellow, 0.65);
    box-shadow: 0 0 50px rgb(38, 38, 38);
    transition: .33s;
    &:hover {
      box-shadow: 0 0 50px rgb(69, 69, 69);
      transform: translateY(-3px);
    }
    .bix {
      padding: 20px;
      box-sizing: border-box;
      text-align: center;
      line-height: 1;
      text-decoration: none;
      transition: .33s;
      font-weight: bold;
      font-size: 48px;
      color: #ccc;
      width: 220px;
      height: 220px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: 1px solid #0f0f0f;
      background: linear-gradient(135deg, rgb(0, 0, 0) 19%, rgb(45, 45, 45) 100%); /* W3C */
      opacity: 0.95;
      &:hover {
        color: $color-yellow;
        opacity: 1;
        cursor: pointer;
      }
    }
  }
  .nbbix {
    font-weight: bold;
    font-size: 28px;
    color: #ccc;
    margin-top: 20px;
  }
}