@import 'VarMix/variables';

body {
  .main {
    height: 10vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    margin-left: 300px;
    .img-container {
      width: 40px;
      display: inline-block;
      //opacity: 0;
      transform: inherit;
      transition: 1s;
      opacity: 1;
      img {
        width: 60px;
      }
      &.anim {
        transform: scale(3) rotate(45deg);
        opacity: 0;
      }
    }
  }
}

.admin {
  a {
    img {
      width: 25vw;
    }
    &.reset {
      color: red;
      font-weight: bold;
      text-decoration: none;
    }
  }
}